.wrapper {
  position: relative;
  margin: auto;
  //background-image: url(https://scontent.fmuc2-1.fna.fbcdn.net/v/t1.0-9/15032694_1150845078343525_306152533808879065_n.png?oh=fafc0911335529b0fca09f2fcea59af1&oe=5944D25D);
  background-position-x: 50%;
  background-position-y: 50%;
  border-radius: 100%;
  background-repeat: no-repeat;
}
@mixin timer($item, $duration, $size, $color, $border, $play, $selector: running) {
  .wrapper, .wrapper * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #{$item} {
    width: $size;
    height: $size;
    max-height: 100vh;
    background-size: $size $size;
    //background-color: $color;
    background-color: white;
  }

  #{$item} .pie {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: $color;
    border: #{$border};
  }

  #{$item} {
    animation: size $duration + s cubic-bezier(.86,0,.07,1) 1 forwards;
  }

  #{$item} .spinner {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    z-index: 200;
    border-right: none;
    animation: rota $duration + s linear 1 forwards ;
  }


  #{$item} .filler {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    left: 50%;
    opacity: 0;
    z-index: 100;
    animation: opa $duration + s steps(1,end) 1 reverse forwards;
    border-left: none;
  }

  #{$item} .mask {
    border-radius: 100% 0% 0% 100% / 50% 50% 50% 50%;
    right: 50%;

    width: 50%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: 1;
    z-index: 300;
    animation: opa $duration + s steps(1,end) 1 forwards;

    background-position-x: 0%;
  }

  #{$item} .wrapper,
  #{$item} .spinner,
  #{$item} .filler,
  #{$item} .mask {
    animation-play-state: $play;
  }

  #{$item}:hover .wrapper,
  #{$item}:hover .spinner,
  #{$item}:hover .filler,
  #{$item}:hover .mask {
    animation-play-state: $selector;
  }

  @keyframes rota {
    0% { transform: rotate(0deg);
    }
    100% { transform: rotate(360deg); }
  }

  @keyframes opa {
    0% { opacity: 1; }
    50%, 100% { opacity: 0; }
  }

  @keyframes size {
    50% ,100% { background-size: $size $size; }
    75% { background-size: 100px 100px; }
  }
}
@include timer('.wrapper', 5, 100%,  #0084fe, '1vh solid  #0084fe',paused,paused);