.ViewTrophy p {
    font-size: 10vh;
    margin: auto;
    margin-bottom: 10.18vh;
    width: 61.29vw;
    min-height: 44.55vh;
    padding: 1%;
}

.ViewTrophy img{
    height: 39.03vh;
    margin-top: 7.58vh;
    margin-bottom: -1%;
}