@import url(//db.onlinewebfonts.com/c/35321a782a3cbb7f9cc0353450a7145e?family=Helvetica+Neue);
@font-face {font-family: "Helvetica Neue LT";
    src: url("//db.onlinewebfonts.com/t/35321a782a3cbb7f9cc0353450a7145e.eot");
    src: url("//db.onlinewebfonts.com/t/35321a782a3cbb7f9cc0353450a7145e.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/35321a782a3cbb7f9cc0353450a7145e.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/35321a782a3cbb7f9cc0353450a7145e.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/35321a782a3cbb7f9cc0353450a7145e.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/35321a782a3cbb7f9cc0353450a7145e.svg#Helvetica Neue") format("svg");
}

img{
    max-height: 100%;
}
body{
    /*overflow: hidden;*/
}

.WebViewer{
    /*width: 50%;*/
    /*height: 100vh;*/
    margin: auto;
    font-size: 11vh;
    font-family: "Helvetica Neue LT";
}

button {
    height: 18.23vh;
    width: 20vw;
    font-size: 8vh;
    font-family: "Helvetica Neue LT";
    color: white;
    background-color: #0084fe;
    border-radius: 50px;
    border-style: none;
}
.btn-left{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    float: left;
    height: 13.88vh;
}
.btn-right{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    float: right;
    height: 13.88vh;
}

.Clock {
    float: left;
    margin-left: 8.62vw;
    margin-top: 13.23vh;
    height: 44.54vh;
    width: 44.54vh;
}

.btn-start{
    margin-right: 8.62vw;
    margin-top: 68.31vh;
    margin-left: -48vw;
    width: 24.51vw;
    z-index: 500;
    position: absolute;
}

p, .intro_rectangle{
    background: #FFFFFF;
    background: rgba(255,255,255,1);
    opacity: 0.75;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -ms-filter: alpha(opacity=75) progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=75) progid:DXImageTransform.Microsoft.Alpha(Opacity=75);

    color: #282828;
    padding: 3%;
}

body, .gradient {
    background: -moz-linear-gradient(0% 50% 0deg, rgba(156, 231, 255, 1) 0%, rgba(140, 237, 231, 1) 19.19%, rgba(114, 247, 191, 1) 54.55%, rgba(98, 253, 167, 1) 82.72%, rgba(92, 255, 158, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(156, 231, 255, 1) 0%, rgba(140, 237, 231, 1) 19.19%, rgba(114, 247, 191, 1) 54.55%, rgba(98, 253, 167, 1) 82.72%, rgba(92, 255, 158, 1) 100%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(156, 231, 255, 1)), color-stop(0.1919, rgba(140, 237, 231, 1)), color-stop(0.5455, rgba(114, 247, 191, 1)), color-stop(0.8272, rgba(98, 253, 167, 1)), color-stop(1, rgba(92, 255, 158, 1)));
    background: -o-linear-gradient(0deg, rgba(156, 231, 255, 1) 0%, rgba(140, 237, 231, 1) 19.19%, rgba(114, 247, 191, 1) 54.55%, rgba(98, 253, 167, 1) 82.72%, rgba(92, 255, 158, 1) 100%);
    background: -ms-linear-gradient(0deg, rgba(156, 231, 255, 1) 0%, rgba(140, 237, 231, 1) 19.19%, rgba(114, 247, 191, 1) 54.55%, rgba(98, 253, 167, 1) 82.72%, rgba(92, 255, 158, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#9CE7FF', endColorstr='#5CFF9E' ,GradientType=0)";
    background: linear-gradient(90deg, rgba(156, 231, 255, 1) 0%, rgba(140, 237, 231, 1) 19.19%, rgba(114, 247, 191, 1) 54.55%, rgba(98, 253, 167, 1) 82.72%, rgba(92, 255, 158, 1) 100%);
    filter: alpha(opacity=66) progid:DXImageTransform.Microsoft.Alpha(opacity=66) progid:DXImageTransform.Microsoft.gradient(startColorstr='#9CE7FF', endColorstr='#5CFF9E', GradientType=1);
}